# Prova

### 1. Importe as bibliotecas necessárias

In [20]:
import pandas as pd

### 2. Importe o dataset desse link: [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### 3. Crie um dataframe chamado chipo.

In [21]:
chipo = pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv')

### 4. Veja as 10 primeira entradas

In [22]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### 5. Qual o número de obervações no dataset?

In [23]:
# Solution 1

chipo.count()

order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64

In [24]:
# Solution 2

chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### 6. Qual o número de colunas no dataset?

In [4]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [30]:
chipo.columns.value_counts().count()

5

### 7. Imprima o nome de todas as colunas.

In [31]:
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### 8. Como o dataset está indexado?

In [32]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### 9. Qual foi o item mais pedido?

In [33]:
chipo[chipo['quantity'] == chipo['quantity'].max()]['item_name']

3598    Chips and Fresh Tomato Salsa
Name: item_name, dtype: object

In [3]:
# certo
chipo['item_name'].value_counts().head(1)

NameError: name 'chipo' is not defined

### 10. Do item mais pedido, quantos foram?

In [34]:
chipo['quantity'].max()

15

### 11. Qual foi o item mais pedido da coluna 'choice_description'?

In [35]:
chipo['choice_description'].value_counts().head(1)

[Diet Coke]    134
Name: choice_description, dtype: int64

### 12. Quantos itens foram pedidos no total?

In [36]:
sum(chipo['quantity'])

4972

### 13. Transforme a coluna 'price' em float.

#### 13.a. Cheque o tipo da coluna price

In [37]:
type('item_price')

str

#### Step 13.b. Crie uma função lambda e troque o tipo da coluna price.

In [38]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: str(x).replace('$', '')).astype('float')

#### 13.c. Cheque o tipo da coluna price

In [39]:
chipo['item_price'].dtypes

dtype('float64')

### 14. Quanto foi a receita no periodo de tempo do dataset?

In [40]:
chipo['item_price'].sum()

34500.16

### 15. Quantos pedidos foram feitos neste periodo de tempo?

In [41]:
len(chipo.index)

4622

### 16. Qual a média de receita por ordem?

In [42]:
# Solution 1

chipo['item_price'].mean()

7.464335785374397

In [43]:
# Solution 2

total = chipo['item_price'].sum()
total / len(chipo.index)

7.464335785374297

### 17. Quantos itens diferentes são vendidos?

In [44]:
chipo['item_name'].value_counts().count()

50