# Pré processamento de dados

# Importação das bibliotecas básicas

In [1]:
import pandas as pd

### Exploração dos dados

In [2]:
from google.colab import files
uploaded = files.upload()

Saving credit_data.csv to credit_data.csv

In [18]:
#Importar dataset
base_credit = pd.read_csv('credit_data.csv')

In [19]:
#Exibir dataset
base_credit

      clientid        income        age         loan  default
0            1  66155.925095  59.017015  8106.532131        0
1            2  34415.153966  48.117153  6564.745018        0
2            3  57317.170063  63.108049  8020.953296        0
3            4  42709.534201  45.751972  6103.642260        0
4            5  66952.688845  18.584336  8770.099235        1
...        ...           ...        ...          ...      ...
1995      1996  59221.044874  48.518179  1926.729397        0
1996      1997  69516.127573  23.162104  3503.176156        0
1997      1998  44311.449262  28.017167  5522.786693        1
1998      1999  43756.056605  63.971796  1622.722598        0
1999      2000  69436.579552  56.152617  7378.833599        0

[2000 rows x 5 columns]

In [5]:
#Exibir as 10 primeiras linhas do dataset
base_credit.head(10)

   clientid        income        age         loan  default
0         1  66155.925095  59.017015  8106.532131        0
1         2  34415.153966  48.117153  6564.745018        0
2         3  57317.170063  63.108049  8020.953296        0
3         4  42709.534201  45.751972  6103.642260        0
4         5  66952.688845  18.584336  8770.099235        1
5         6  24904.064140  57.471607    15.498598        0
6         7  48430.359613  26.809132  5722.581981        0
7         8  24500.141984  32.897548  2971.003310        1
8         9  40654.892537  55.496853  4755.825280        0
9        10  25075.872771  39.776378  1409.230371        0

In [6]:
#Exibit as 10 últimas linhas do dataset
base_credit.tail(10)

      clientid        income        age         loan  default
1990      1991  34237.575419  34.101654  2658.090632        0
1991      1992  26300.446554  45.539385  2317.393678        0
1992      1993  30803.806165  23.250084   623.024153        0
1993      1994  54421.410155  26.821928  3273.631823        0
1994      1995  24254.700791  37.751622  2225.284643        0
1995      1996  59221.044874  48.518179  1926.729397        0
1996      1997  69516.127573  23.162104  3503.176156        0
1997      1998  44311.449262  28.017167  5522.786693        1
1998      1999  43756.056605  63.971796  1622.722598        0
1999      2000  69436.579552  56.152617  7378.833599        0

In [7]:
#Descrição dos dados
base_credit.describe()

          clientid        income          age          loan      default
count  2000.000000   2000.000000  1997.000000   2000.000000  2000.000000
mean   1000.500000  45331.600018    40.807559   4444.369695     0.141500
std     577.494589  14326.327119    13.624469   3045.410024     0.348624
min       1.000000  20014.489470   -52.423280      1.377630     0.000000
25%     500.750000  32796.459717    28.990415   1939.708847     0.000000
50%    1000.500000  45789.117313    41.317159   3974.719419     0.000000
75%    1500.250000  57791.281668    52.587040   6432.410625     0.000000
max    2000.000000  69995.685578    63.971796  13766.051239     1.000000

In [8]:
#Informações dos dados
base_credit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   clientid  2000 non-null   int64
 1   income    2000 non-null   float64
 2   age       1997 non-null   float64
 3   loan      2000 non-null   float64
 4   default   2000 non-null   int64
dtypes: float64(3), int64(2)
memory usage: 78.2 KB

In [11]:
#Exibir na base de dados os salários que são maiores que um número
base_credit[base_credit['income'] <= 4578 ]

Empty DataFrame
Columns: [clientid, income, age, loan, default]
Index: []

### Tratamento de valores inconsistentes

In [22]:
#Pegar os valores menores que zero na coluna de idades
base_credit.loc[base_credit['age'] < 0]

    clientid        income        age         loan  default
15        16  50501.726689 -28.218361  3977.287432        0
21        22  32197.620701 -52.423280  4244.057136        0
26        27  63287.038908 -36.496976  9595.286289        0

In [23]:
# Apagar a coluna inteira (de todos os registros da base de dados)

base_credit2 = base_credit.drop('age', axis = 1)
base_credit2

      clientid        income         loan  default
0            1  66155.925095  8106.532131        0
1            2  34415.153966  6564.745018        0
2            3  57317.170063  8020.953296        0
3            4  42709.534201  6103.642260        0
4            5  66952.688845  8770.099235        1
...        ...           ...          ...      ...
1995      1996  59221.044874  1926.729397        0
1996      1997  69516.127573  3503.176156        0
1997      1998  44311.449262  5522.786693        1
1998      1999  43756.056605  1622.722598        0
1999      2000  69436.579552  7378.833599        0

[2000 rows x 4 columns]

In [24]:
# Checar o indice 
base_credit.index

RangeIndex(start=0, stop=2000, step=1)

In [28]:
#Checar o indice mediante condicional de idade

base_credit[base_credit['age'] < 0].index

Int64Index([15, 21, 26], dtype='int64')

In [30]:
# Apagar somente os registros com valores inconsistentes
base_credit3 = base_credit.drop(base_credit[base_credit['age'] < 0].index)
base_credit3

      clientid        income        age         loan  default
0            1  66155.925095  59.017015  8106.532131        0
1            2  34415.153966  48.117153  6564.745018        0
2            3  57317.170063  63.108049  8020.953296        0
3            4  42709.534201  45.751972  6103.642260        0
4            5  66952.688845  18.584336  8770.099235        1
...        ...           ...        ...          ...      ...
1995      1996  59221.044874  48.518179  1926.729397        0
1996      1997  69516.127573  23.162104  3503.176156        0
1997      1998  44311.449262  28.017167  5522.786693        1
1998      1999  43756.056605  63.971796  1622.722598        0
1999      2000  69436.579552  56.152617  7378.833599        0

[1997 rows x 5 columns]

In [31]:
# Vamos averiguar se foi excluído
base_credit3.loc[base_credit3['age']<0]

Empty DataFrame
Columns: [clientid, income, age, loan, default]
Index: []

In [32]:
# calcular a media da base de dados
base_credit.mean()

clientid     1000.500000
income      45331.600018
age            40.807559
loan         4444.369695
default         0.141500
dtype: float64

In [33]:
# Calcular a media de uma coluna na base de dados
base_credit['age'].mean()

40.80755937840458

In [36]:
# Calcular a media da coluna onde os numeros são maiores que zero
base_credit['age'][base_credit['age'] > 0].mean()

40.927688881035856

In [35]:
# Atribuir a media a coluna 
base_credit.loc[base_credit['age'] < 0, 'age'] = 40.92

### Tratamento de valores faltantes

In [38]:
# checar se há valores nulos
base_credit.isnull()
base_credit.isna()

      clientid  income    age   loan  default
0        False   False  False  False    False
1        False   False  False  False    False
2        False   False  False  False    False
3        False   False  False  False    False
4        False   False  False  False    False
...        ...     ...    ...    ...      ...
1995     False   False  False  False    False
1996     False   False  False  False    False
1997     False   False  False  False    False
1998     False   False  False  False    False
1999     False   False  False  False    False

[2000 rows x 5 columns]

In [39]:
# Somar a quantidade de valores nulos
base_credit.isnull().sum()

clientid    0
income      0
age         3
loan        0
default     0
dtype: int64

In [40]:
# Pegar a coluna da idade nas linhas onde tem valores nulos
base_credit.loc[pd.isnull(base_credit['age'])]

    clientid        income  age         loan  default
28        29  59417.805406  NaN  2082.625938        0
30        31  48528.852796  NaN  6155.784670        0
31        32  23526.302555  NaN  2862.010139        0

In [41]:
# Preencher as linhas com as medias das idades
base_credit['age'].fillna(base_credit['age'].mean(), inplace = True)

In [42]:
# Verificar se há valores nulos
base_credit.loc[pd.isnull(base_credit['age'])]

Empty DataFrame
Columns: [clientid, income, age, loan, default]
Index: []

In [48]:
base = base_credit.loc[:, 'age'].values

In [49]:
type(base)

numpy.ndarray

In [ ]:
# Verificar pelos valores contidos

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
imputer.fit(base_credit[:, 1:3])
X[:, 1:3] = imputer.transform(X[:, 1:3])